<table>
<tbody>
  <tr>
  <% book.post_comments.each do |post_comment| %>
    <td>
      <%= link_to user_path(post_comment.id) do %>
        <%= image_tag post_comment.user.get_profile_image, size:"100x100" %></br>
        <%= post_comment.user.name %>
      <% end %>
    </td>
    <td style="padding: 10px;" >
      <%= post_comment.comment %>
    </td>

    <% if post_comment.user == current_user %>
    <td>
      <%= link_to "Destroy", book_post_comment_path(book, post_comment), method: :delete, remote: true, local: false, class: "btn btn-sm btn-danger" %>
    </td>
     <% end %>
  </tr>
</tbody>
<% end %>
</table>

